Source: clustoclient
Section: misc
Priority: extra
Maintainer: Jeremy Grosser <jeremy@synack.me>
Build-Depends: cdbs, debhelper (>= 7), python (>= 2.6.0), python-setuptools
Standards-Version: 3.8.3
Homepage: https://github.com/synack/clustoclient

Package: python-clustoclient
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-jinja2
XB-Python-Version: ${python:Versions}
Description: Python client library and utilities for Clusto
